/**
 * Styles for Post Reference Control
 */
.Project-lzb-control_postr {
    padding: 15px;
    background-color: #e9e9ea;
    border-radius: 4px;

    > .components-base-control {
        margin-bottom: 10px !important;

        + p {
            margin-bottom: 0;
            font-size: .8em;
            opacity: .6;
        }
    }
}
.autocompleteresults {
    display: none;
}
.autocompleteresultsshown {
    display: block;
}